// 改行判定
#exampleModal {
    white-space: pre-wrap;
}

.modal-container {
    font-size: 1.6rem!important;
    .confirm-btn {
        font-size: 1.6rem!important;
    }
    p {
        font-size: 1.6rem;
    }
}

.modal-header {
    h4 {
        @include sp {
            font-size: 1.6rem;
        }
    }
}

.contact-title {
    margin: 3rem auto;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 .2rem .4rem rgba($color-gray, .3);
    padding: 3rem 0;
    width: 100%;
    h2 {
        font-size: 3rem;
        text-align: center;
        @include sp {
            font-size: 2.4rem;
        }
    }
    .notes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 5% 0;
        @include sp {
            margin-top: 1rem;
            margin-bottom: 1.2rem;
        }
        p {
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 1.75;
            @include sp {
                font-size: 1.2rem;
            }
        }
    }
}

// ウィークリー部分
.contact-contents {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    height: 20rem;
    @include sp {
        display: block;
        height: 40rem;
    }
}

.report-group {
    width: 32%;
    @include sp  {
        width: 100%;
        margin-bottom: 2rem;
    }
    /*== ボタン共通設定 */
    .btn {
        /*アニメーションの起点とするためrelativeを指定*/
        position: relative;
        overflow: hidden;
        /*ボタンの形状*/
        text-decoration: none;
        display: inline-block;
        border: 1px solid $sub-color2;
        border-radius: .5rem;
        box-shadow: 0 2px .4rem rgba($color-gray, .3);
        padding: 2rem 0;
        text-align: center;
        outline: none;
        /*アニメーションの指定*/
        transition: ease .2s;
    }
    /*ボタン内spanの形状*/
    .btn span {
        position: relative;
        z-index: 3;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.75;
        color: $sub-color3;
    }
    .btn:hover span {
        color: #fff;
    }
    .bgcentery {
        width: 100%;
    }
    /*== 背景が流れる（中央から縦全体） */
    .bgcentery:before {
        content: '';
        /*絶対配置で位置を指定*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        /*色や形状*/
        background: $key-color1;
        width: 100%;
        height: 100%;
        /*アニメーション*/
        transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
        transform: scale(1, 0);
        transform-origin: center;
    }
    /*hoverした際の形状*/
    .bgcentery:hover:before {
        transform: scale(1, 1);
    }
}

// ********* ここまで **********
.form-heading {
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    @include sp {
        font-size: 1.4rem;
    }
    input {
        font-size: 1.6rem;
        @include sp {
            font-size: 1.4rem;
        }
    }
    select {
        font-size: 1.6rem;
        @include sp {
            font-size: 1.4rem;
        }
    }
    textarea {
        font-size: 1.6rem;
        @include sp {
            font-size: 1.4rem;
        }
    }
}

.form-btn {
    color: $color-white;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 1rem 1.5rem;
    @include sp {
        padding: .6rem 1rem;
        margin-bottom: 2.4rem;
    }
}

.form-btn:hover {
    opacity: .8;
    color: $color-white;
}


/* メッセージ機能用CSS */

.kaiwa.imessage {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    border: 1px #ddd solid;
    background: white;
    font-size: 16px;
    color: #383838;
    line-height: 1.4;
    overflow: hidden;
}


/*フキダシ共通*/

.kaiwa.imessage .fukidasi {
    position: relative;
    display: inline-block;
    max-width: 45%;
    margin: 1px 10px 6px;
    padding: 9px 14px;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;
    /*はてな用*/
}


/*しっぽをつけないとき*/

.kaiwa.imessage .fukidasi.notail {
    margin-bottom: 0;
}


/*フキダシ左*/

.kaiwa.imessage .fukidasi.left {
    float: left;
    background: #e9e9ed;
}


/*フキダシ右*/

.kaiwa.imessage .fukidasi.right {
    float: right;
    background: #2793fa;
    color: white;
}


/*しっぽ共通*/

.kaiwa.imessage .fukidasi::after {
    position: absolute;
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    bottom: 0;
}


/*しっぽ左*/

.kaiwa.imessage .fukidasi.left::after {
    left: -6px;
    border-radius: 0px 0 17px 0px/ 0px 0 13px 0;
    box-shadow: -14px 2px 0 -3px #e9e9ed inset;
}


/*しっぽ右*/

.kaiwa.imessage .fukidasi.right::after {
    right: -6px;
    border-radius: 0px 0 0 17px/ 0px 0 0 13px;
    box-shadow: 14px 2px 0 -3px #2793fa inset;
}


/*しっぽをつけないとき*/

.kaiwa.imessage .fukidasi.notail::after {
    content: none;
}

.message_area {
    height: 150px!important;
}

.click-none {
    pointer-events: none;
}


/* 日曜日：赤 */

.flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday:nth-child(7n + 1),
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n + 1) {
    color: red;
}


/* 土曜日：青 */

.flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday:nth-child(7),
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n) {
    color: blue;
}

.flatpickr-current-month {
    display: flex;
    justify-content: center;
}

.cur-year {
    order: 1;
}

.cur-month:before {
    content: '年　';
}

.cur-month {
    order: 2;
}

.flatpickr-current-month span.cur-month {
    font-weight: 300;
    padding-top: 4px;
}

.preferred-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    input {
        padding: 1rem;
        width: 80%;
    }
    span {
        padding: 1.4rem;
        width: 20%;
        i {
            font-size: 1.5rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.confirm-button {
    padding: 1.5rem 2rem;
}