// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// bootstrap icon
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
//colors
$base-color:#fbfbfb;
$color_white:#f9f9f9;
$color_gray:#999999;
$link: #1a73e8;
// 文字など
// 薄紫
$sub-color1: #f5f5fd;
$sub-color2:#e4e4e4;
$sub-color3:#383838;
//サイトカラー
$key-color1:#95c5e3;
$ballon:#95c5e3;
$key-color2:#3f9bba;
$key-color3:#c1f0bd;
// Variables
@import 'variables';
//scssインポート
@import 'login';
@import 'common';
@import 'header';
@import 'sidebar';
@import 'search';
@import 'mypage';
@import 'lesson';
@import 'contact';
@import 'posts';
@import 'footer';